= link_to 'retour', annonces_path
.jumbotron
  %span.tag.tag-info
    = @annonce.category.name
  %h1.display-3= @annonce.title
  %p.lead= @annonce.description
  = image_tag(photo_helper(@annonce.photo), class: "text-align")
  %hr.my-2/
  %p= "#{@annonce.city} #{@annonce.zip_code}"
  %p= number_to_currency(@annonce.price, locale: :fr)
  %p.lead
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
